.wrapper {
  margin: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  position: relative;
}
.link {
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: 0.5s all ease-in-out;
  opacity: 60%;
}
.container:hover {
  transition: 0.5s all ease-in-out;
  opacity: 100%;
  /* transition: opacity left 0.5s ease-in-out; */
  transform: perspective(1000px) scale(1.05);
  /* opacity: 100%; */
}

.image {
  width: 600px;
  height: 300px;
  position: relative;
}

.image:hover {
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  height: 300px;
  top: 0;
}

.quiz {
  position: absolute;
  color: #ffffff;
  font-size: 4rem;
  padding: 0 0 1rem 0;
}
